# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Streamlit secrets
.streamlit/secrets.toml

# Operating system files
.DS_Store
Thumbs.db